
.metadata/

Code/App/.settings/
Code/App/Debug/
Code/App/Release/

Code/BootL/.settings/
Code/BootL/Debug/
Code/BootL/Release/

Code/BootU/.settings/
Code/BootU/Debug/
Code/BootU/Release/

Code/BR24L04W/.settings/
Code/BR24L04W/Debug/
Code/BR24L04W/Release/

Code/M24C32DFDW6TP/.settings/
Code/M24C32DFDW6TP/Debug/
Code/M24C32DFDW6TP/Release/

Code/Production/.settings/
Code/Production/Debug/
Code/Production/Release/
