
.metadata/

Code/App/.settings/
Code/App/Debug/
Code/App/Release/

Code/BootL/.settings/
Code/BootL/Debug/
Code/BootL/Release/

Code/BootU/.settings/
Code/BootU/Debug/
Code/BootU/Release/

Code/LoaderBR24L04_W/.settings/
Code/LoaderBR24L04_W/Debug/
Code/LoaderBR24L04_W/Release/

Code/LoaderM24C32_DFDW6TP/.settings/
Code/LoaderM24C32_DFDW6TP/Debug/
Code/LoaderM24C32_DFDW6TP/Release/

Code/Production/.settings/
Code/Production/Debug/
Code/Production/Release/
