
.metadata/

Code/App/.settings/
Code/App/Debug/
Code/App/Release/

Code/BootL/.settings/
Code/BootL/Debug/
Code/BootL/Release/

Code/BootU/.settings/
Code/BootU/Debug/
Code/BootU/Release/

Code/LoaderM32C64/.settings/
Code/LoaderM32C64/Debug/
Code/LoaderM32C64/Release/

Code/Production/.settings/
Code/Production/Debug/
Code/Production/Release/
